{
  "swagger": "2.0",
  "info": {
    "title": "Minimal backend",
    "description": "A minimal monolithic example backend",
    "version": "1.0.0"
  },
  "host": "api.minimal-backend.com",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "produces": [
    "application/json"
  ],
  "paths": {
    "/user": {
      "post": {
        "summary": "Create user",
        "description": "Create a new user account with provided credentials",
        "parameters": [
          {
            "name": "credentials",
            "in": "body",
            "description": "User credentials",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserCredentials"
            }
          }
        ],
        "tags": [
          "Authentication"
        ],
        "responses": {
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/login": {
      "post": {
        "summary": "Log in",
        "description": "Produce authentication token to be presented in order to access restricted data",
        "parameters": [
          {
            "name": "credentials",
            "in": "body",
            "description": "User credentials",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserCredentials"
            }
          }
        ],
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Authentication token",
            "schema": {
              "$ref": "#/definitions/AuthenticationToken"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/transaction": {
      "post": {
        "summary": "Create transaction",
        "description": "Create a new financial transaction",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorized token",
            "required": true,
            "type": "string"
          },
          {
            "name": "transaction",
            "in": "body",
            "description": "New transaction",
            "required": true,
            "schema": {
              "type" : "object",
              "additionalProperties": false,
              "properties" : {
                "title" : {
                  "type" : "string"
                },
                "amount" : {
                  "type" : "number"
                },
                "description" : {
                  "type" : "string"
                }
              },
              "required": ["title", "amount"]
            }
          }
        ],
        "tags": [
          "Transaction"
        ],
        "responses": {
          "200": {
            "description": "Resulting transaction",
            "schema": {
              "$ref": "#/definitions/Transaction"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestTemplates": {
            "application/json": "$input.body"
          },
          "uri": "arn:aws:apigateway:<<region>>:lambda:path/2015-03-31/functions/arn:aws:lambda:<<region>>:<<accountId>>:function:${stageVariables.CreateTransactionName}/invocations",
          "passthroughBehavior": "never",
          "httpMethod": "POST",
          "type": "aws"
        }
      },
      "get": {
        "summary": "Get transactions",
        "description": "Retrieve all transaction belonging to user",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorized token",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Transaction"
        ],
        "responses": {
          "200": {
            "description": "List of transactions",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Transaction"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestTemplates": {
            "application/json": "{}"
          },
          "uri": "arn:aws:apigateway:<<region>>:lambda:path/2015-03-31/functions/arn:aws:lambda:<<region>>:<<accountId>>:function:${stageVariables.GetAllTransactionsName}/invocations",
          "passthroughBehavior": "never",
          "httpMethod": "POST",
          "type": "aws"
        }
      }
    }
  },
  "definitions": {
    "UserCredentials": {
      "type" : "object",
      "additionalProperties": false,
      "properties" : {
        "email" : {
          "type" : "string"
        },
        "password" : {
          "type" : "string"
        }
      },
      "required": ["email", "password"]
    },
    "AuthenticationToken": {
      "type" : "object",
      "additionalProperties": false,
      "properties" : {
        "token" : {
          "type" : "string"
        }
      },
      "required": ["token"]
    },
    "Transaction": {
      "description" : "A financial transaction of a given amount of currency",
      "type" : "object",
      "additionalProperties": false,
      "properties" : {
        "id": {
          "type" : "string"
        },
        "authorUserId": {
          "type": "string"
        },
        "title" : {
          "type" : "string"
        },
        "amount" : {
          "type" : "number"
        },
        "description" : {
          "type" : "string"
        },
        "created": {
          "type": "string"
        },
        "updated": {
          "type": "string"
        }
      },
      "required": ["id", "authorUserId", "title", "amount"]
    },
    "Error": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      }
    }
  },
  "x-amazon-apigateway-request-validators": {
    "all": {
      "validateRequestParameters": true,
      "validateRequestBody": true
    }
  }
}